<div id="<%= dom_id customer_application %>">
  <p>
    <strong>Name:</strong>
    <%= customer_application.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= customer_application.email %>
  </p>

  <p>
    <strong>Mobile:</strong>
    <%= customer_application.mobile %>
  </p>

</div>
