<h1>Editing customer application</h1>

<%= render "form", customer_application: @customer_application %>

<br>

<div>
  <%= link_to "Show this customer application", @customer_application %> |
  <%= link_to "Back to customer applications", customer_applications_path %>
</div>
